<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<input id="username">
<button id="login" th:onclick="login()">ID 입력</button>

<div>
    <span>메시지 전송</span>
    <input type="text" id="message">
    <button id="send" th:onclick="send()">전송</button>
</div>

<div>
    <span>채팅창</span>
    <textarea id="chat" readonly></textarea>
</div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

<script>
    var sockJS = null;
    var stompClient = null;
    var username = 'guest';
    var chatRoomId = 0;

    function send() {
        var content = $('#message').val();

        sockJS = new SockJS("/stomp");
        stompClient = Stomp.over(sockJS);

        if (username === 'admin' || username === 'subin') {
            chatRoomId = 1;
        }

        var request = {
            senderName: username,
            content: content,
            chatRoomId: chatRoomId
        }

        stompClient.connect({}, function (frame) {
            stompClient.send("/app/chat", {}, JSON.stringify(request));
        })
    }

    function login() {
        username = $('#username').val();

        sockJS = new SockJS("/stomp");
        stompClient = Stomp.over(sockJS);

        stompClient.connect({}, function () {
            if (username === 'admin' || username === 'subin') {
                chatRoomId = 1;
            }
            var url = '/topic/chat/' + chatRoomId;
            stompClient.subscribe(url, function (message) {
                var content = JSON.parse(message.body).content;
                $('#chat').val($('#chat').val() + '\n' + content);
            });
        });
    }
</script>
</body>
</html>